{% extends "base.html" %}
{% block content %}

  {# <p>Votes: {{ polls }}</p> #}
  <p>addrs: {{ addrs }}</p>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">

        {% for option in poll %}

          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            {{ option.name }}
            <a class="btn btn-primary btn-sm {% if voted %} disabled {% endif %}" href="{{ url_for('vote', id=option.id) }}">Vote</a>
          </li>

        {% endfor %}

      </ul>
    </div>
  </div>

{% endblock content %}
